body {
    font-family: Arial, sans-serif;
    background: #FFF7D9;
    margin: 0;
    padding: 0;

}

.container {
    max-width: 900px;
    margin: 20px auto;
    border: 3px solid #555;
    padding: 20px;
    background: white;
}

/* Navigation tabs */
.nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: .3s;
}

.nav a:hover {
    background: #ddd;
}

/* Section styling */
section {
    margin: 40px 0;
    padding-top: 30px;
}

h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}


